# Application
src/web/app/plugins/*
!src/web/app/plugins/.gitkeep
src/web/app/mu-plugins/*/
src/web/app/upgrade
src/web/app/uploads/*
!src/web/app/uploads/.gitkeep

# WordPress
src/web/wp
src/web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
src/vendor/*
!src/vendor/.gitkeep

# Node Package Manager
node_modules

# Certs
certs/

# Logs
logs/

# Vagrant
bin
.vagrant

# Custom
.DS_Store

# Exclude standard wordpress files downloaded from Docker.
src/index.php
src/license.txt
src/readme.html
src/wp-activate.php
src/wp-admin
src/wp-blog-header.php
src/wp-comments-post.php
src/wp-config-sample.php
src/wp-content
src/wp-cron.php
src/wp-includes
src/wp-links-opml.php
src/wp-load.php
src/wp-login.php
src/wp-mail.php
src/wp-settings.php
src/wp-signup.php
src/wp-trackback.php
src/xmlrpc.php
