sudo: false

language: php

php:
  - '7.2'
  - '7.3'
  - '7.4'

services:
  - docker

env:
  global:
    - DOCKER_COMPOSE_VERSION='1.4.2'
    - APP_NAME='test'

before_script:
  - docker-compose up -d
  - composer self-update

script:
  - cd src && composer install -o --prefer-dist --no-interaction

after_script:
  - docker-compose down

notifications:
  on_success: never
  on_failure: always
